In [3]:
from kmodes.kmodes import KModes
import pandas as pd
import numpy as np

In [4]:
# suppress warnings
import warnings
warnings.filterwarnings('ignore')

In [6]:
import matplotlib.pyplot as plt
%matplotlib inline
from matplotlib.pyplot import xticks

In [7]:
# reading the data
data = pd.read_csv("cluster.csv")

In [8]:
data.head()

,Constituency_Name,Districts,Constituency_Number,Classification,Caste Majority,1983,1985,1989,1994,1999,VM_1999,2004,VM_2004,2009,VM_2009,2014,VM_2014,2019,VM_2019
0,ICHCHAPURAM,SRIKAKULAM,1,RURAL,OBC,TDP,TDP,TDP,TDP,TDP,0,INC,1,TDP,0,TDP,2,TDP,1
1,PALASA,SRIKAKULAM,2,RURAL,OBC,INC,TDP,IND,TDP,TDP,2,TDP,2,INC,1,TDP,2,YSRCP,2
2,TEKKALI,SRIKAKULAM,3,RURAL,OBC,TDP,TDP,TDP,TDP,TDP,1,INC,2,INC,0,TDP,1,TDP,1
3,PATHAPATNAM,SRIKAKULAM,4,RURAL,FC,TDP,INC,TDP,TDP,TDP,2,TDP,0,INC,2,YSRCP,0,YSRCP,2
4,SRIKAKULAM,SRIKAKULAM,5,SEMI_URBAN,OBC,TDP,TDP,TDP,TDP,TDP,2,INC,1,INC,0,TDP,2,YSRCP,1

In [9]:
data.columns

Index(['Constituency_Name', 'Districts', 'Constituency_Number',
       'Classification', 'Caste Majority', '1983', '1985', '1989', '1994',
       '1999', 'VM_1999', '2004', 'VM_2004', '2009', 'VM_2009', '2014',
       'VM_2014', '2019', 'VM_2019'],
      dtype='object')

In [90]:
variable_data = data[['Districts','Classification', 'Caste Majority', '1983', '1985', '1989', '1994',
       '1999', 'VM_1999', '2004', 'VM_2004', '2009', 'VM_2009', '2014',
       'VM_2014', '2019', 'VM_2019']]

In [91]:
variable_data.describe(include='all')

,Districts,Classification,Caste Majority,1983,1985,1989,1994,1999,VM_1999,2004,VM_2004,2009,VM_2009,2014,VM_2014,2019,VM_2019
count,162,162,162,162,162,162,162,162,162.000000,162,162.000000,162,162.000000,162,162.000000,162,162.000000
unique,13,3,4,4,5,6,5,4,NaN,7,NaN,3,NaN,5,NaN,3,NaN
top,EAST GODAVARI,RURAL,OBC,TDP,TDP,INC,TDP,TDP,NaN,INC,NaN,INC,NaN,TDP,NaN,YSRCP,NaN
freq,19,121,103,144,122,111,130,110,NaN,119,NaN,98,NaN,98,NaN,138,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.172840,NaN,1.296296,NaN,1.043210,NaN,1.259259,NaN,1.635802
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.838368,NaN,0.802859,NaN,0.858634,NaN,0.845562,NaN,0.684851
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,0.000000,NaN,0.000000,NaN,0.000000,NaN,0.000000
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,1.000000,NaN,0.000000,NaN,0.000000,NaN,2.000000
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,2.000000,NaN,1.000000,NaN,2.000000,NaN,2.000000
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000000,NaN,2.000000,NaN,2.000000,NaN,2.000000,NaN,2.000000
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000000,NaN,2.000000,NaN,2.000000,NaN,2.000000,NaN,2.000000

In [92]:
# maintaining copy of categorical data
import copy
training_data = copy.deepcopy(variable_data)

In [93]:
# adding indexed labels to data
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
variable_data = variable_data.apply(le.fit_transform)
variable_data.head()

,Districts,Classification,Caste Majority,1983,1985,1989,1994,1999,VM_1999,2004,VM_2004,2009,VM_2009,2014,VM_2014,2019,VM_2019
0,9,0,1,3,4,4,4,3,0,4,1,2,0,3,2,1,1
1,9,0,1,2,4,3,4,3,2,6,2,0,1,3,2,2,2
2,9,0,1,3,4,4,4,3,1,4,2,0,0,3,1,1,1
3,9,0,0,3,2,4,4,3,2,6,0,0,2,4,0,2,2
4,9,1,1,3,4,4,4,3,2,4,1,0,0,3,2,2,1

In [114]:
km_model = KModes(n_clusters=6,init='Huang',n_init=1,verbose=1)
km_clusters = km_model.fit_predict(variable_data)

Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 1, iteration: 1/100, moves: 40, cost: 973.0
Run 1, iteration: 2/100, moves: 13, cost: 970.0
Run 1, iteration: 3/100, moves: 10, cost: 966.0
Run 1, iteration: 4/100, moves: 3, cost: 966.0

In [115]:
# predicted clusters
km_clusters

array([0, 4, 0, 2, 0, 3, 5, 2, 2, 2, 3, 2, 0, 4, 4, 1, 0, 4, 0, 0, 0, 0,
       2, 2, 0, 0, 0, 5, 0, 2, 4, 0, 4, 0, 0, 4, 4, 0, 0, 4, 4, 3, 0, 3,
       3, 0, 4, 4, 2, 3, 2, 4, 1, 5, 3, 0, 0, 4, 3, 0, 3, 4, 0, 4, 4, 3,
       2, 1, 0, 3, 0, 1, 1, 3, 3, 0, 4, 3, 0, 2, 3, 3, 4, 0, 0, 0, 0, 1,
       3, 4, 4, 3, 3, 4, 3, 0, 2, 0, 0, 4, 2, 5, 1, 4, 5, 1, 1, 3, 1, 5,
       2, 2, 3, 4, 2, 4, 4, 2, 2, 1, 1, 4, 1, 1, 1, 4, 1, 1, 2, 3, 1, 3,
       1, 0, 1, 1, 2, 2, 5, 1, 5, 5, 5, 5, 5, 3, 3, 2, 2, 3, 0, 2, 2, 2,
       0, 3, 4, 1, 1, 1, 2, 3], dtype=uint16)

In [116]:
# sizes of clusters
arr = list(km_clusters)
for i in range(6):
    size = arr.count(i)
    print("Size of cluster-" + str(i) + " = " + str(size))

Size of cluster-0 = 38
Size of cluster-1 = 25
Size of cluster-2 = 28
Size of cluster-3 = 29
Size of cluster-4 = 30
Size of cluster-5 = 12

In [117]:
# encoding the data
variable_data = training_data.reset_index()
variable_data.head()

,index,Districts,Classification,Caste Majority,1983,1985,1989,1994,1999,VM_1999,2004,VM_2004,2009,VM_2009,2014,VM_2014,2019,VM_2019
0,0,SRIKAKULAM,RURAL,OBC,TDP,TDP,TDP,TDP,TDP,0,INC,1,TDP,0,TDP,2,TDP,1
1,1,SRIKAKULAM,RURAL,OBC,INC,TDP,IND,TDP,TDP,2,TDP,2,INC,1,TDP,2,YSRCP,2
2,2,SRIKAKULAM,RURAL,OBC,TDP,TDP,TDP,TDP,TDP,1,INC,2,INC,0,TDP,1,TDP,1
3,3,SRIKAKULAM,RURAL,FC,TDP,INC,TDP,TDP,TDP,2,TDP,0,INC,2,YSRCP,0,YSRCP,2
4,4,SRIKAKULAM,SEMI_URBAN,OBC,TDP,TDP,TDP,TDP,TDP,2,INC,1,INC,0,TDP,2,YSRCP,1

In [119]:
# combining the data
clusters_data = pd.DataFrame(km_clusters)
clusters_data.columns = ['predicted_cluster']
combined_data = pd.concat([variable_data, clusters_data],axis=1).reset_index()
combined_data = combined_data.drop(['index','level_0'],axis=1)

In [123]:
labels = data[['Constituency_Number','Constituency_Name']]
combined_data_with_labels = pd.concat([labels,combined_data],axis=1).reset_index()
combined_data_with_labels = combined_data_with_labels.drop(['index'],axis=1)
combined_data_with_labels.head()

,Constituency_Number,Constituency_Name,Districts,Classification,Caste Majority,1983,1985,1989,1994,1999,VM_1999,2004,VM_2004,2009,VM_2009,2014,VM_2014,2019,VM_2019,predicted_cluster
0,1,ICHCHAPURAM,SRIKAKULAM,RURAL,OBC,TDP,TDP,TDP,TDP,TDP,0,INC,1,TDP,0,TDP,2,TDP,1,0
1,2,PALASA,SRIKAKULAM,RURAL,OBC,INC,TDP,IND,TDP,TDP,2,TDP,2,INC,1,TDP,2,YSRCP,2,4
2,3,TEKKALI,SRIKAKULAM,RURAL,OBC,TDP,TDP,TDP,TDP,TDP,1,INC,2,INC,0,TDP,1,TDP,1,0
3,4,PATHAPATNAM,SRIKAKULAM,RURAL,FC,TDP,INC,TDP,TDP,TDP,2,TDP,0,INC,2,YSRCP,0,YSRCP,2,2
4,5,SRIKAKULAM,SRIKAKULAM,SEMI_URBAN,OBC,TDP,TDP,TDP,TDP,TDP,2,INC,1,INC,0,TDP,2,YSRCP,1,0

In [124]:
combined_data_with_labels.to_csv(r'C:/Users/rimco/Desktop/VoxPopuliR/Clustering/clustered.csv',index=False)

'Constituency_Number,Constituency_Name,Districts,Classification,Caste Majority,1983,1985,1989,1994,1999,VM_1999,2004,VM_2004,2009,VM_2009,2014,VM_2014,2019,VM_2019,predicted_cluster\r\n1,ICHCHAPURAM,SRIKAKULAM,RURAL,OBC,TDP,TDP,TDP,TDP,TDP,0,INC,1,TDP,0,TDP,2,TDP,1,0\r\n2,PALASA,SRIKAKULAM,RURAL,OBC,INC,TDP,IND,TDP,TDP,2,TDP,2,INC,1,TDP,2,YSRCP,2,4\r\n3,TEKKALI,SRIKAKULAM,RURAL,OBC,TDP,TDP,TDP,TDP,TDP,1,INC,2,INC,0,TDP,1,TDP,1,0\r\n4,PATHAPATNAM,SRIKAKULAM,RURAL,FC,TDP,INC,TDP,TDP,TDP,2,TDP,0,INC,2,YSRCP,0,YSRCP,2,2\r\n5,SRIKAKULAM,SRIKAKULAM,SEMI_URBAN,OBC,TDP,TDP,TDP,TDP,TDP,2,INC,1,INC,0,TDP,2,YSRCP,1,0\r\n6,AMADALAVALASA,SRIKAKULAM,RURAL,OBC,TDP,TDP,INC,TDP,TDP,0,INC,0,INC,2,TDP,1,YSRCP,2,3\r\n7,ETCHERLA,SRIKAKULAM,RURAL,OBC,TDP,TDP,TDP,TDP,TDP,2,INC,1,INC,2,TDP,0,YSRCP,2,5\r\n8,NARASANNAPETA,SRIKAKULAM,RURAL,OBC,TDP,TDP,INC,TDP,INC,1,INC,1,INC,2,TDP,0,YSRCP,2,2\r\n10,PALAKONDA,SRIKAKULAM,RURAL,FC,TDP,TDP,INC,TDP,IND,0,TDP,2,INC,2,YSRCP,0,YSRCP,2,2\r\n11,KURUPAM,VIZIANAGARAM,RURAL,OBC,INC,INC,INC,TDP,INC,1,CPM,1,INC,2,YSRCP,2,YSRCP,2,2\r\n12,PARVATHIPURAM,VIZIANAGARAM,RURAL,OBC,TDP,TDP,TDP,TDP,INC,2,INC,0,INC,0,TDP,1,YSRCP,2,3\r\n13,SALUR,VIZIANAGARAM,RURAL,OBC,TDP,TDP,INC,TDP,TDP,2,TDP,0,INC,0,YSRCP,0,YSRCP,2,2\r\n14,BOBBILI,VIZIANAGARAM,RURAL,OBC,TDP,TDP,INC,TDP,INC,1,INC,2,INC,2,YSRCP,1,YSRCP,1,0\r\n15,CHEEPURUPALLE,VIZIANAGARAM,RURAL,OBC,TDP,TDP,TDP,TDP,TDP,0,INC,2,INC,1,TDP,2,YSRCP,2,4\r\n16,GAJAPATHINAGARAM,VIZIANAGARAM,RURAL,OBC,TDP,INC,TDP,TDP,INC,0,TDP,2,INC,2,TDP,2,YSRCP,2,4\r\n17,NELLIMARLA,VIZIANAGARAM,RURAL,OBC,INC,INC,INC,TDP,INC,0,INC,0,INC,0,TDP,1,YSRCP,2,1\r\n18,VIZIANAGARAM,VIZIANAGARAM,URBAN,OBC,TDP,TDP,TDP,TDP,TDP,1,IND,0,TDP,0,TDP,2,YSRCP,1,0\r\n19,SRUNGAVARAPUKOTA,VIZIANAGARAM,RURAL,OBC,TDP,TDP,TDP,TDP,TDP,0,INC,1,TDP,0,TDP,2,YSRCP,2,4\r\n20,BHIMILI,VISHAKAPATNAM,RURAL,OBC,TDP,TDP,TDP,TDP,TDP,2,INC,0,PRAP,1,TDP,2,YSRCP,1,0\r\n22,VISAKHAPATNAM SOUTH,VISHAKAPATNAM,URBAN,OBC,TDP,TDP,INC,TDP,BJP,1,INC,2,INC,0,TDP,2,TDP,0,0\r\n24,VISAKHAPATNAM WEST,VISHAKAPATNAM,URBAN,OBC,TDP,TDP,INC,TDP,TDP,2,INC,2,INC,0,TDP,2,TDP,2,0\r\n25,GAJUWAKA,VISHAKAPATNAM,URBAN,OBC,TDP,TDP,TDP,TDP,TDP,2,INC,2,PRAP,2,TDP,2,YSRCP,2,0\r\n26,CHODAVARAM,VISHAKAPATNAM,RURAL,FC,TDP,TDP,INC,TDP,INC,1,TDP,1,TDP,0,TDP,0,YSRCP,2,2\r\n27,MADUGULA,VISHAKAPATNAM,RURAL,OBC,TDP,TDP,TDP,TDP,TDP,1,INC,1,TDP,1,YSRCP,0,YSRCP,2,2\r\n29,PADERU,VISHAKAPATNAM,RURAL,ST,INC,TDP,INC,TDP,TDP,0,BSP,1,INC,0,YSRCP,2,YSRCP,2,0\r\n30,ANAKAPALLE,VISHAKAPATNAM,RURAL,FC,TDP,TDP,TDP,TDP,TDP,0,INC,2,PRAP,2,TDP,2,YSRCP,1,0\r\n31,PENDURTHI,VISHAKAPATNAM,RURAL,OBC,TDP,TDP,INC,CPI,TDP,2,INC,2,PRAP,0,TDP,2,YSRCP,2,0\r\n32,YELAMANCHILI,VISHAKAPATNAM,RURAL,OBC,TDP,TDP,TDP,TDP,TDP,1,INC,1,INC,2,TDP,1,YSRCP,0,5\r\n33,PAYAKARAOPET,VISHAKAPATNAM,RURAL,OBC,TDP,TDP,TDP,TDP,TDP,1,TDP,2,INC,0,TDP,0,YSRCP,2,0\r\n34,NARSIPATNAM,VISHAKAPATNAM,RURAL,OBC,TDP,TDP,INC,TDP,TDP,1,TDP,2,INC,1,TDP,0,YSRCP,2,2\r\n35,TUNI,EAST GODAVARI,RURAL,OBC,TDP,TDP,TDP,TDP,TDP,0,TDP,0,INC,1,YSRCP,2,YSRCP,2,4\r\n36,PRATHIPADU,EAST GODAVARI,RURAL,OBC,TDP,TDP,INC,TDP,TDP,2,INC,2,TDP,0,YSRCP,0,YSRCP,0,0\r\n37,PITHAPURAM,EAST GODAVARI,RURAL,OBC,TDP,TDP,INC,TDP,IND,0,BJP,2,PRAP,0,IND,2,YSRCP,2,4\r\n38,KAKINADA RURAL,EAST GODAVARI,SEMI_URBAN,OBC,TDP,TDP,INC,TDP,TDP,2,INC,2,PRAP,1,TDP,1,YSRCP,1,0\r\n39,PEDDAPURAM,EAST GODAVARI,SEMI_URBAN,FC,TDP,TDP,INC,TDP,TDP,1,INC,2,PRAP,0,TDP,2,TDP,0,0\r\n40,ANAPARTHY,EAST GODAVARI,RURAL,FC,TDP,TDP,INC,TDP,TDP,0,INC,2,INC,2,TDP,0,YSRCP,2,4\r\n41,KAKINADA CITY,EAST GODAVARI,URBAN,FC,TDP,TDP,INC,TDP,TDP,0,INC,2,INC,1,TDP,2,YSRCP,2,4\r\n42,RAMACHANDRAPURAM,EAST GODAVARI,RURAL,OBC,TDP,TDP,INC,IND,TDP,2,IND,1,INC,0,TDP,2,YSRCP,1,0\r\n43,MUMMIDIVARAM,EAST GODAVARI,RURAL,OBC,TDP,TDP,INC,INC,TDP,2,INC,2,INC,0,TDP,2,YSRCP,1,0\r\n44,AMALAPURAM,EAST GODAVARI,RURAL,OBC,TDP,INC,INC,TDP,TDP,2,IND,0,INC,1,TDP,2,YSRCP,2,4\r\n45,RAZOLE,EAST GODAVARI,RURAL,SC,TDP,TDP,INC,TDP,TDP,0,INC,2,INC,1,TDP,0,JSP,0,4\r\n46,GANNAVARAM,EAST GODAVARI,RURAL,SC,TDP,TDP,INC,TDP,BJP,2,INC,0,INC,2,TDP,1,YSRCP,2,3\r\n47,KOTHAPETA,EAST GODAVARI,RURAL,FC,TDP,TDP,INC,TDP,TDP,2,INC,0,PRAP,0,YSRCP,0,YSRCP,0,0\r\n48,MANDAPETA,EAST GODAVARI,RURAL,FC,TDP,TDP,INC,TDP,TDP,2,INC,1,TDP,2,TDP,2,TDP,2,3\r\n49,RAJANAGARAM,EAST GODAVARI,RURAL,FC,TDP,TDP,INC,TDP,TDP,0,INC,0,TDP,1,TDP,1,YSRCP,2,3\r\n50,RAJAHMUNDRY CITY,EAST GODAVARI,URBAN,FC,TDP,TDP,INC,TDP,TDP,2,INC,1,INC,0,BJP,2,TDP,2,0\r\n51,RAJAHMUNDRY RURAL,EAST GODAVARI,SEMI_URBAN,FC,TDP,TDP,IND,TDP,INC,0,INC,2,TDP,0,TDP,2,TDP,2,4\r\n52,JAGGAMPETA,EAST GODAVARI,URBAN,OBC,TDP,TDP,TDP,TDP,TDP,1,INC,0,INC,0,YSRCP,2,YSRCP,2,4\r\n53,RAMPACHODAVARAM,EAST GODAVARI,RURAL,ST,TDP,TDP,TDP,TDP,TDP,1,TDP,1,INC,2,YSRCP,1,YSRCP,2,2\r\n54,KOVVUR,WEST GODAVARI,RURAL,FC,TDP,TDP,TDP,TDP,INC,1,TDP,0,TDP,2,TDP,2,YSRCP,2,3\r\n56,ACHANTA,WEST GODAVARI,RURAL,FC,TDP,CPM,CPM,CPM,TDP,2,TDP,1,INC,2,TDP,0,YSRCP,2,2\r\n57,PALACOLE,WEST GODAVARI,RURAL,FC,TDP,TDP,INC,TDP,TDP,2,TDP,2,INC,1,TDP,1,TDP,2,4\r\n58,NARASAPURAM,WEST GODAVARI,RURAL,OBC,INC,CPI,CPI,CPI,INC,1,INC,2,INC,2,TDP,2,YSRCP,2,1\r\n59,BHIMAVARAM,WEST GODAVARI,SEMI_URBAN,FC,TDP,TDP,INC,TDP,TDP,2,INC,1,INC,2,TDP,2,YSRCP,2,5\r\n60,UNDI,WEST GODAVARI,RURAL,OBC,TDP,TDP,TDP,TDP,TDP,2,INC,2,TDP,2,TDP,2,TDP,2,3\r\n61,TANUKU,WEST GODAVARI,RURAL,FC,TDP,TDP,TDP,TDP,TDP,2,INC,1,INC,0,TDP,2,YSRCP,0,0\r\n62,TADEPALLIGUDEM,WEST GODAVARI,SEMI_URBAN,FC,TDP,TDP,TDP,TDP,TDP,2,INC,2,PRAP,0,BJP,2,YSRCP,2,0\r\n63,UNGUTUR,WEST GODAVARI,RURAL,FC,TDP,TDP,INC,TDP,TDP,0,INC,2,INC,1,TDP,1,YSRCP,2,4\r\n64,DENDULURU,WEST GODAVARI,RURAL,OBC,TDP,TDP,INC,TDP,TDP,1,INC,2,TDP,2,TDP,2,YSRCP,2,3\r\n65,ELURU,WEST GODAVARI,URBAN,FC,TDP,TDP,INC,TDP,TDP,1,INC,2,INC,2,TDP,2,YSRCP,0,0\r\n66,GOPALAPURAM,WEST GODAVARI,RURAL,FC,TDP,TDP,TDP,TDP,TDP,0,INC,1,TDP,2,TDP,2,YSRCP,2,3\r\n67,POLAVARAM,WEST GODAVARI,RURAL,OBC,TDP,TDP,INC,TDP,TDP,0,INC,2,INC,1,TDP,2,YSRCP,2,4\r\n68,CHINTALAPUDI,WEST GODAVARI,RURAL,FC,TDP,TDP,TDP,TDP,TDP,2,INC,0,INC,0,TDP,2,YSRCP,2,0\r\n69,TIRUVURU,KRISHNA,RURAL,FC,TDP,TDP,INC,TDP,TDP,0,INC,2,INC,0,YSRCP,0,YSRCP,2,4\r\n70,NUZVID,KRISHNA,RURAL,OBC,TDP,TDP,INC,TDP,TDP,0,INC,2,TDP,1,YSRCP,2,YSRCP,2,4\r\n46,GANNAVARAM,KRISHNA,RURAL,OBC,TDP,TDP,INC,IND,TDP,2,IND,0,TDP,2,TDP,1,TDP,0,3\r\n72,GUDIVADA,KRISHNA,SEMI_URBAN,OBC,TDP,TDP,INC,TDP,TDP,2,TDP,1,TDP,2,YSRCP,2,YSRCP,2,2\r\n73,KAIKALUR,KRISHNA,RURAL,OBC,INC,INC,INC,INC,IND,0,INC,0,TDP,0,BJP,2,YSRCP,1,1\r\n74,PEDANA,KRISHNA,RURAL,OBC,INC,TDP,INC,TDP,INC,0,INC,2,INC,0,TDP,2,YSRCP,1,0\r\n76,AVANIGADDA,KRISHNA,RURAL,FC,INC,TDP,TDP,TDP,INC,0,INC,1,TDP,0,TDP,1,YSRCP,2,3\r\n78,PENAMALURU,KRISHNA,SEMI_URBAN,FC,TDP,TDP,TDP,TDP,TDP,2,INC,2,INC,0,TDP,2,YSRCP,2,0\r\n79,VIJAYAWADA WEST,KRISHNA,URBAN,OBC,TDP,CPI,INC,CPI,INC,0,CPI,2,PRAP,1,YSRCP,0,YSRCP,1,1\r\n81,VIJAYAWADA EAST,KRISHNA,URBAN,OBC,TDP,INC,INC,INC,BJP,1,INC,2,PRAP,0,TDP,2,TDP,2,1\r\n82,MYLAVARAM,KRISHNA,RURAL,OBC,TDP,INC,INC,TDP,TDP,1,INC,2,TDP,2,TDP,1,YSRCP,2,3\r\n83,NANDIGAMA,KRISHNA,RURAL,FC,TDP,TDP,INC,TDP,TDP,2,TDP,0,TDP,1,TDP,1,YSRCP,2,3\r\n75,MACHILIPATNAM,KRISHNA,URBAN,OBC,TDP,TDP,INC,TDP,TDP,2,INC,2,INC,2,TDP,2,YSRCP,1,0\r\n84,JAGGAYYAPETA,KRISHNA,RURAL,FC,TDP,TDP,TDP,TDP,INC,1,INC,2,TDP,1,TDP,0,YSRCP,0,4\r\n85,PEDAKURAPADU,GUNTUR,RURAL,OBC,TDP,TDP,INC,INC,INC,0,INC,2,TDP,1,TDP,1,YSRCP,2,3\r\n86,TADIKONDA,GUNTUR,RURAL,FC,TDP,TDP,INC,CPI,TDP,1,INC,2,INC,0,TDP,1,YSRCP,0,0\r\n87,MANGALAGIRI,GUNTUR,SEMI_URBAN,OBC,TDP,TDP,INC,CPM,INC,2,INC,1,INC,2,YSRCP,0,YSRCP,1,2\r\n88,PONNUR,GUNTUR,RURAL,FC,TDP,TDP,INC,TDP,TDP,2,TDP,1,TDP,0,TDP,1,TDP,0,3\r\n89,VEMURU,GUNTUR,RURAL,SC,TDP,TDP,INC,TDP,TDP,2,INC,1,TDP,0,TDP,0,YSRCP,2,3\r\n90,REPALLE,GUNTUR,RURAL,OBC,TDP,TDP,INC,TDP,TDP,2,INC,2,INC,1,TDP,2,TDP,2,4\r\n91,TENALI,GUNTUR,SEMI_URBAN,FC,TDP,TDP,INC,TDP,TDP,1,INC,2,INC,0,TDP,2,YSRCP,2,0\r\n92,BAPATLA,GUNTUR,RURAL,OBC,TDP,TDP,INC,TDP,TDP,2,INC,2,INC,0,YSRCP,1,YSRCP,2,0\r\n36,PRATHIPADU,GUNTUR,RURAL,FC,TDP,TDP,INC,TDP,TDP,2,INC,2,INC,0,TDP,0,YSRCP,1,0\r\n94,GUNTUR WEST,GUNTUR,URBAN,FC,TDP,INC,INC,TDP,TDP,1,INC,2,INC,0,TDP,2,TDP,0,0\r\n95,GUNTUR EAST,GUNTUR,URBAN,OBC,TDP,INC,INC,TDP,INC,1,INC,2,INC,1,YSRCP,0,YSRCP,2,1\r\n96,CHILAKALURIPET,GUNTUR,RURAL,FC,TDP,INC,TDP,INC,TDP,2,IND,0,TDP,2,TDP,2,YSRCP,1,3\r\n97,NARASARAOPET,GUNTUR,SEMI_URBAN,FC,TDP,TDP,TDP,TDP,TDP,2,INC,2,INC,1,YSRCP,2,YSRCP,2,4\r\n98,SATTENAPALLE,GUNTUR,RURAL,FC,TDP,CPM,INC,CPM,TDP,2,INC,2,INC,1,TDP,0,YSRCP,2,4\r\n99,VINUKONDA,GUNTUR,RURAL,FC,TDP,CPI,INC,IND,TDP,0,INC,1,TDP,2,TDP,2,YSRCP,2,3\r\n100,GURAJALA,GUNTUR,RURAL,FC,TDP,TDP,INC,TDP,INC,0,INC,1,TDP,2,TDP,1,YSRCP,2,3\r\n101,MACHERLA,GUNTUR,RURAL,FC,TDP,INC,TDP,TDP,TDP,0,INC,2,INC,1,YSRCP,0,YSRCP,2,4\r\n103,DARSI,PRAKASAM,RURAL,FC,TDP,TDP,INC,TDP,INC,2,IND,0,INC,2,TDP,0,YSRCP,2,3\r\n104,PARCHUR,PRAKASAM,RURAL,FC,TDP,TDP,TDP,INC,TDP,0,INC,2,INC,0,TDP,2,TDP,0,0\r\n105,ADDANKI,PRAKASAM,RURAL,FC,TDP,TDP,INC,IND,TDP,0,TDP,0,INC,2,YSRCP,0,TDP,2,2\r\n106,CHIRALA,PRAKASAM,SEMI_URBAN,OBC,TDP,TDP,INC,TDP,TDP,2,INC,2,INC,2,NPT,2,TDP,2,0\r\n107,SANTHANUTHALAPADU,PRAKASAM,RURAL,FC,TDP,TDP,INC,CPM,TDP,2,INC,2,INC,1,YSRCP,0,YSRCP,1,0\r\n108,ONGOLE,PRAKASAM,SEMI_URBAN,OBC,TDP,TDP,INC,TDP,INC,1,INC,2,INC,2,TDP,2,YSRCP,2,4\r\n109,KANDUKUR,PRAKASAM,RURAL,FC,TDP,INC,INC,TDP,TDP,0,INC,1,INC,0,YSRCP,0,YSRCP,2,2\r\n110,KONDAPI,PRAKASAM,RURAL,FC,TDP,INC,INC,TDP,TDP,2,INC,1,INC,1,TDP,1,TDP,0,5\r\n111,MARKAPURAM,PRAKASAM,RURAL,FC,TDP,INC,INC,IND,INC,1,INC,2,TDP,1,YSRCP,1,YSRCP,2,1\r\n112,GIDDALUR,PRAKASAM,RURAL,OBC,TDP,IND,INC,TDP,TDP,0,INC,2,PRAP,1,YSRCP,2,YSRCP,2,4\r\n113,KANIGIRI,PRAKASAM,RURAL,FC,TDP,TDP,INC,TDP,INC,1,INC,1,INC,0,TDP,1,YSRCP,2,5\r\n114,KAVALI,NELLORE,RURAL,OBC,TDP,INC,INC,INC,TDP,2,INC,2,TDP,2,YSRCP,0,YSRCP,2,1\r\n115,ATMAKUR,NELLORE,RURAL,FC,TDP,INC,INC,TDP,INC,0,IND,0,INC,2,YSRCP,2,YSRCP,2,1\r\n116,KOVUR,NELLORE,RURAL,OBC,TDP,TDP,INC,TDP,TDP,2,INC,0,TDP,1,TDP,1,YSRCP,2,3\r\n117,NELLORE CITY,NELLORE,URBAN,OBC,TDP,INC,IND,TDP,INC,1,INC,2,PRAP,0,YSRCP,2,YSRCP,0,1\r\n119,SARVEPALLI,NELLORE,RURAL,OBC,TDP,TDP,INC,TDP,TDP,2,INC,1,INC,2,YSRCP,1,YSRCP,2,5\r\n120,GUDUR,NELLORE,RURAL,OBC,TDP,TDP,INC,TDP,TDP,1,INC,1,TDP,2,YSRCP,1,YSRCP,2,2\r\n121,SULLURPETA,NELLORE,RURAL,OBC,TDP,TDP,INC,TDP,TDP,1,INC,1,TDP,1,YSRCP,0,YSRCP,2,2\r\n122,VENKATAGIRI,NELLORE,RURAL,OBC,TDP,TDP,INC,TDP,INC,2,INC,1,TDP,1,TDP,1,YSRCP,2,3\r\n123,UDAYAGIRI,NELLORE,RURAL,FC,BJP,INC,INC,IND,TDP,0,INC,2,INC,2,TDP,0,YSRCP,2,4\r\n124,BADVEL,KADAPA,RURAL,OBC,ICJ,TDP,INC,TDP,TDP,1,INC,1,INC,2,YSRCP,2,YSRCP,2,2\r\n125,RAJAMPET,KADAPA,RURAL,OBC,INC,TDP,INC,TDP,TDP,0,INC,2,INC,2,TDP,2,YSRCP,2,4\r\n126,KADAPA,KADAPA,URBAN,FC,TDP,TDP,INC,TDP,TDP,1,INC,2,INC,1,YSRCP,2,YSRCP,2,4\r\n127,KODUR,KADAPA,RURAL,OBC,TDP,TDP,TDP,TDP,TDP,2,INC,2,INC,2,YSRCP,0,YSRCP,2,2\r\n128,RAYACHOTI,KADAPA,RURAL,OBC,TDP,INC,INC,INC,TDP,1,TDP,0,INC,2,YSRCP,2,YSRCP,2,2\r\n129,PULIVENDLA,KADAPA,RURAL,FC,INC,INC,INC,INC,INC,2,INC,2,INC,2,YSRCP,2,YSRCP,2,1\r\n130,KAMALAPURAM,KADAPA,RURAL,FC,TDP,INC,INC,TDP,INC,2,TDP,2,INC,0,YSRCP,1,YSRCP,2,1\r\n131,JAMMALAMADUGU,KADAPA,RURAL,OBC,TDP,TDP,TDP,TDP,TDP,0,INC,2,INC,1,YSRCP,2,YSRCP,2,4\r\n132,PRODDATUR,KADAPA,URBAN,OBC,TDP,TDP,INC,INC,INC,0,INC,2,TDP,2,YSRCP,2,YSRCP,2,1\r\n133,MYDUKUR,KADAPA,RURAL,OBC,INC,TDP,INC,INC,TDP,1,INC,1,INC,0,YSRCP,2,YSRCP,2,1\r\n134,ALLAGADDA,KURNOOL,RURAL,SC,TDP,INC,TDP,TDP,TDP,2,INC,2,PRAP,0,YSRCP,2,YSRCP,2,1\r\n136,NANDIKOTKUR,KURNOOL,RURAL,OBC,TDP,TDP,INC,TDP,TDP,2,INC,2,INC,1,YSRCP,2,YSRCP,2,4\r\n137,KURNOOL,KURNOOL,URBAN,OBC,TDP,INC,INC,CPM,TDP,2,CPM,0,INC,2,YSRCP,0,YSRCP,1,1\r\n138,PANYAM,KURNOOL,SEMI_URBAN,OBC,TDP,INC,INC,INC,TDP,2,INC,0,INC,1,YSRCP,2,YSRCP,2,1\r\n139,NANDYAL,KURNOOL,SEMI_URBAN,OBC,TDP,TDP,INC,TDP,TDP,0,INC,2,INC,2,YSRCP,0,YSRCP,2,2\r\n140,BANAGANAPALLE,KURNOOL,RURAL,OBC,TDP,TDP,TDP,TDP,INC,2,INC,0,PRAP,2,TDP,2,YSRCP,2,3\r\n141,DHONE,KURNOOL,RURAL,OBC,INC,TDP,INC,INC,TDP,2,INC,0,TDP,0,YSRCP,2,YSRCP,2,1\r\n142,PATTIKONDA,KURNOOL,RURAL,OBC,INC,TDP,INC,TDP,TDP,2,TDP,0,TDP,1,TDP,1,YSRCP,2,3\r\n143,KODUMUR,KURNOOL,RURAL,OBC,INC,TDP,IND,INC,INC,2,INC,2,INC,1,YSRCP,2,YSRCP,2,1\r\n144,YEMMIGANUR,KURNOOL,RURAL,OBC,INC,TDP,TDP,TDP,TDP,2,INC,2,INC,0,TDP,2,YSRCP,2,0\r\n146,ADONI,KURNOOL,SEMI_URBAN,OBC,TDP,INC,INC,TDP,TDP,2,INC,2,TDP,0,YSRCP,2,YSRCP,2,1\r\n147,ALUR,KURNOOL,RURAL,ST,TDP,INC,INC,TDP,INC,1,INC,0,INC,1,YSRCP,0,YSRCP,2,1\r\n148,RAYADURG,ANANTAPUR,RURAL,OBC,TDP,INC,INC,TDP,INC,1,TDP,2,INC,2,TDP,0,YSRCP,2,2\r\n149,URAVAKONDA,ANANTAPUR,RURAL,OBC,TDP,TDP,INC,TDP,INC,1,TDP,1,TDP,0,YSRCP,0,TDP,0,2\r\n150,GUNTAKAL,ANANTAPUR,SEMI_URBAN,OBC,TDP,TDP,INC,TDP,TDP,2,INC,1,INC,1,TDP,1,YSRCP,2,5\r\n151,TADPATRI,ANANTAPUR,RURAL,OBC,TDP,INC,INC,INC,INC,0,INC,1,INC,1,TDP,2,YSRCP,1,1\r\n152,SINGANAMALA,ANANTAPUR,RURAL,OBC,TDP,TDP,INC,TDP,TDP,0,INC,1,INC,0,TDP,0,YSRCP,2,5\r\n153,ANANTAPUR URBAN,ANANTAPUR,URBAN,OBC,TDP,TDP,INC,CPI,INC,0,INC,2,INC,2,TDP,1,YSRCP,2,5\r\n154,KALYANDURG,ANANTAPUR,RURAL,OBC,TDP,CPI,INC,TDP,TDP,2,TDP,1,INC,0,TDP,2,YSRCP,2,5\r\n156,MADAKASIRA,ANANTAPUR,RURAL,OBC,INC,TDP,INC,TDP,INC,2,INC,2,INC,2,TDP,2,YSRCP,2,5\r\n157,HINDUPUR,ANANTAPUR,SEMI_URBAN,OBC,TDP,TDP,TDP,TDP,TDP,2,TDP,1,TDP,1,TDP,2,TDP,2,5\r\n158,PENUKONDA,ANANTAPUR,RURAL,OBC,TDP,TDP,INC,TDP,TDP,2,TDP,2,TDP,2,TDP,2,YSRCP,2,3\r\n159,PUTTAPARTHI,ANANTAPUR,RURAL,OBC,TDP,TDP,INC,TDP,TDP,2,INC,0,TDP,0,TDP,1,YSRCP,2,3\r\n160,DHARMAVARAM,ANANTAPUR,SEMI_URBAN,OBC,TDP,TDP,TDP,TDP,INC,1,TDP,0,INC,2,TDP,2,YSRCP,2,2\r\n161,KADIRI,ANANTAPUR,RURAL,OBC,TDP,TDP,INC,TDP,BJP,1,INC,1,TDP,2,YSRCP,0,YSRCP,2,2\r\n162,THAMBALLAPALLE,CHITTOOR,RURAL,OBC,TDP,TDP,IND,TDP,INC,1,INC,0,TDP,0,TDP,1,YSRCP,2,3\r\n163,PILERU,CHITTOOR,RURAL,OBC,TDP,TDP,INC,TDP,INC,2,INC,2,INC,1,YSRCP,2,YSRCP,1,0\r\n164,MADANAPALLE,CHITTOOR,SEMI_URBAN,OBC,TDP,TDP,INC,TDP,TDP,2,TDP,1,INC,2,YSRCP,2,YSRCP,2,2\r\n165,PUNGANUR,CHITTOOR,RURAL,OBC,TDP,TDP,TDP,TDP,INC,1,TDP,1,INC,2,YSRCP,2,YSRCP,2,2\r\n166,CHANDRAGIRI,CHITTOOR,RURAL,OBC,TDP,TDP,INC,TDP,INC,0,INC,2,INC,2,YSRCP,0,YSRCP,2,2\r\n167,TIRUPATI,CHITTOOR,URBAN,OBC,TDP,INC,INC,TDP,TDP,2,INC,2,PRAP,2,TDP,2,TDP,0,0\r\n168,SRIKALAHASTI,CHITTOOR,RURAL,OBC,TDP,TDP,TDP,TDP,TDP,1,INC,2,TDP,2,TDP,1,YSRCP,2,3\r\n169,SATYAVEDU,CHITTOOR,RURAL,OBC,TDP,TDP,INC,TDP,TDP,1,INC,2,TDP,1,TDP,0,YSRCP,2,4\r\n170,NAGARI,CHITTOOR,SEMI_URBAN,OBC,TDP,INC,INC,TDP,INC,0,INC,1,TDP,0,YSRCP,0,YSRCP,0,1\r\n171,GANGADHARA NELLORE,CHITTOOR,RURAL,FC,TDP,INC,INC,TDP,INC,2,INC,2,INC,2,YSRCP,2,YSRCP,2,1\r\n172,CHITTOOR,CHITTOOR,SEMI_URBAN,OBC,TDP,INC,IND,INC,INC,2,TDP,0,INC,0,TDP,1,YSRCP,2,1\r\n174,PALAMANER,CHITTOOR,RURAL,OBC,TDP,TDP,TDP ,TDP,INC,0,TDP,0,TDP,2,YSRCP,0,YSRCP,2,2\r\n175,KUPPAM,CHITTOOR,RURAL,OBC,TDP,TDP,TDP,TDP,TDP,2,TDP,2,TDP,2,TDP,2,TDP,2,3\r\n'